.container {
	margin-top: 30px;
}

.list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, auto));
	justify-content: space-between;
	row-gap: 30px;
	column-gap: 16px;
}

.emptyText {
	text-align: center;
	font-size: 18px;
	color: #aaa;
}

.carouselWrapper {
	margin-top: 30px;
}

.scrollContainer {
	overflow-x: auto;
	overflow-y: hidden;
}

.scrollContainer::-webkit-scrollbar {
	height: 8px;
}

.scrollContainer::-webkit-scrollbar-thumb {
	background: #666;
	border-radius: 4px;
}

.scrollContainer::-webkit-scrollbar-track {
	background: transparent;
}

.scrollInner {
	display: flex;
	gap: 20px;
	padding-bottom: 20px;
}

.scrollItem {
	flex: 0 0 auto;
	width: 200px;
	cursor: pointer;
}

@media (max-width: 480px) {
	.list {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 30px;
	}
}
