.list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, auto));
	justify-content: space-between;
	row-gap: 30px;
	column-gap: 16px;
	margin-top: 50px;
}

.searchInput {
	width: 100%;
	max-width: 400px;
	margin: 0 auto 24px;
	display: block;
	padding: 10px 16px;
	font-size: 16px;
	border: 1px solid #ccc;
	border-radius: 8px;
}
