.list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, auto));
	justify-content: space-between;
	row-gap: 30px;
	column-gap: 16px;
	margin-top: 50px;
}

.emptyText {
	margin-top: 40px;
	text-align: center;
	font-size: 18px;
	color: #aaa;
}
